<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <!-- %= user% -->
    <p>Bem-vindo(a) <strong><%= user%></strong> ao seu perfil </p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/pedidos">Pedidos</a></li>
    </ul>
</body>
</html>
