<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

<div class="container mt-5">
    
    <div class="p-5 text-center rounded-3 mb-5" style="background-color: var(--panel-color); border: 2px solid var(--highlight-color);">
        <h1 class="text-white display-4 mb-4">A Próxima Geração de Jogos Está Aqui.</h1>
        <p class="lead text-white-50">Explore nossa vasta biblioteca e encontre seu próximo desafio.</p>
        <a href="/jogos" class="btn btn-lg mt-3" style="background-color: var(--highlight-color); color: #FFFFFF; font-weight: bold;">
            Ver Todos os Jogos
        </a>
    </div>


    <div class="text-center mt-5 p-3 rounded-3" style="background-color: #03045e;">
        <h3 class="text-white mb-3">Não Perca os Próximos Títulos!</h3>
        <a href="/lancamentos" class="btn btn-lg" style="background-color: var(--highlight-color); color: #FFFFFF; font-weight: bold;">
            Ver Todos os Lançamentos
        </a>
    </div>

</div>

<%- include ('partials/footer.ejs')%>